@font-face {
    font-family: fonte-um-;
    src: url(fontes/ferdinand.zip);
}

body {
    background: linear-gradient(90deg, #000428, #004e92);
    color: white;
}

.pt-um {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(239, 239, 230);
    background-color: #578FCA;
    padding: 20px;
    height: 100px;
    border-radius: 30px;
    
}

body {
    background-color: #9ACBD0;
}

button {
    background-color: blueviolet;
    border: 0px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    color: white; 
    cursor: pointer;
    transition: background 0.3s;
    
}

button:hover {
    background-color: rgb(21, 194, 217);
  }

.botoes-container {
    justify-content: center;
    display: flex   ;
    gap: 60px; 
    
}

.insta-logo {  
    position: absolute;
    right: 50px;
    width: 50px;
    display: flex;
    gap: 40px;
    width: 100px;
}


 