@font-face {
    font-family: fonte-um-;
    src: url(fontes/ferdinand.zip);
}

body {
    background-color: #9ACBD0;
}

.pt-um {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: wheat;
    margin: 20px;
    width: 20px;
    
}

ul {
    list-style: none;
}

.elementos {
    background-color: yellowgreen;
    justify-content: space-between;
}

button {
    background-color: blueviolet;
    border: 0px;
    width: 70px;
    height: 30px;
}